---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import "../../styles/artists.css";
import { Icon } from "astro-icon";
const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <head>
    <style>
      ul {
        list-style-type: none;
        padding: unset;
      }
      ul li {
        display: flex;
      }
      ulli: global(time) {
        flex: 0 0 130px;
        font-style: italic;
        color: #595959;
      }
      ul li a:visited {
        color: #8e32dc;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <ul>
          {
            posts.map((post) => (
              <li class="flex text-white font-montserrat justify-center my-6 animate">
                <a
                  href={`/blog/${post.slug}/`}
                  class="flex flex-col p-4 gap-y-2 w-96 border border-white/10 rounded-xl text-orange-300 visited:text-orange-300"
                >
                  <div class="font-bold ">{post.data.title}</div>
                  <div class="flex items-center justify-between">
                    <FormattedDate className="w-32" date={post.data.pubDate} />
                    <Icon name="arrow-right" pack="feather" class="w-5" />
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
    </main>
  </body>
</Layout>
