---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import ArtistCard from "../../components/ArtistCard.astro";

const artists = (await getCollection("artists")).sort(
  (a, b) => a.data.index - b.data.index
);
---

<Layout>
  <div class="flex justify-center">
    <div class="">
      <div class="grid grid-cols-2 lg:grid-cols-4 gap-x-6 gap-y-8">
        {
          artists.map((artist) => (
            <>
              <ArtistCard
                name={artist.data.name}
                image={artist.data.image}
                slug={artist.data.customSlug}
              />
            </>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
