.zoom {
  scale: 1;
}

.zoom:hover {
  scale: 1.05;
  animation: zoom 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

.video-shadow {
  transition: box-shadow 0.3s;
}

.spotify-container {
  position: relative;
  padding-bottom: 60%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
}

.spotify-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .spotify-container {
    padding-bottom: 50%;
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
