---
const { image, name, slug } = Astro.props;
import "../styles/artists.css";
---

<content class="w-40">
  <a href={`artists/${slug}`}>
    <div class="cursor-pointer text-center zoom">
      <div class="relative h-full rounded-3xl border border-gray-200/20">
        <img src={image} class="rounded-3xl h-52 w-full object-cover" />
        <div
          class="bg-black/20 font-shadow absolute inset-x-0 bottom-0 mb-10 flex items-center justify-center font-montserrat font-semibold text-white"
        >
          {name}
        </div>
      </div>
    </div>
  </a>
</content>
