---
import type { HTMLAttributes } from "astro/types";
import "../../styles/underline-hover.css";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={["underline-hover", className, { active: isActive }]}
  {...props}
>
  <slot />
</a>
